body {
    background-color: #212529;
    
}

.subnav {
    color: #fff; 
    position: relative;
    z-index: 2;
    padding-bottom: 50px;
}

.blog {
    position: relative;
    z-index:6;
    color: #000;
    padding-top: 40px;
    padding-bottom: 100px;
}



.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.copyright a:hover {
    color: #007bff;
}

.copyright-menu ul {
    text-align: right;
    margin: 0;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 0px;
}

#btnBonitoEnElcentro {

    text-decoration: none;
    margin-bottom: 30px;
    background-color: var(--background-base, #212529);
    color: var(--text-base, #000000);
    border-radius: 400px;
    padding: 2px 30px 15px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    --text-base: #46505A;
}

.footerimg {
    margin-top: 10px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.conciencia {
    padding-top: 40px;
    padding-bottom: 100px;
}
@media (max-width: 1400px) {
    

    .undernav {
        margin-top: 0;
    }

}

/* 

@media (max-width: 1200px) {
    .blog {
        height: 1000px;
    }

    .conciencia {
       
        height: 1180px;
        
    }
}

@media (max-width: 778px) {
    .blog {
        height: 1800px;
    }
}

@media (max-width: 450px) {
    .blog {
        height: 1200px;
    }
}

@media (max-width: 420px) {
    .blog {
        height: 1150px;
    }
} */

